{% extends "base_attendance.html" %}
{% load static %}
{% block title %}日次申請{% endblock %}
{% block page_title %}<!--日付を出す-->{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/attendance/daily_request.css' %}">
{% endblock %}

{% block header_actions %}
    <a href="{% url 'attendance:mypage' %}">
        <img src="{% static 'img/return_icon.png' %}" width="50" height="50">
    </a>
{% endblock %}

{% block content %}
<p id="daily">本日の勤務実績<!--関数確認--></p>

<form method="post" action="{% url <!--確認--> %}">
    {% csrf_token %}

    <input type="hidden" name ="date" value="{{<!--カレンダーで選択した日付に遷移したい-->}}">
        <section>
            <div>
                <label class="record">勤務実績1</label>
                <input name="work1_start" type="time" value="{{ work1_start|default:'' }}"> <!--この処理で勤務実績をDBから引っ張ってくる。もしなかったら空白を返す-->
                <span>〜</span>
                <input name="work1_end" type="time" value="{{ work1_end|default:'' }}">
                {{ work1_status|default:"pending" }} <!--申請中、否認、承認のstatusを取得-->
            </div>
        </section>

        <section>
            <div>
                <label class="record">勤務実績2</label>
                <input name="work2_start" type="time" value="{{ work2_start|default:'' }}"> <!--この処理で勤務実績をDBから引っ張ってくる。もしなかったら空白を返す-->
                <span>〜</span>
                <input name="work2_end" type="time" value="{{ work2_end|default:'' }}">
                {{ work2_status|default:"pending" }} <!--申請中、否認、承認のstatusを取得-->
            </div>
        </section>

        <section>
            <div>
                <label class="record">勤務実績3</label>
                <input name="work3_start" type="time" value="{{ work3_start|default:'' }}"> <!--この処理で勤務実績をDBから引っ張ってくる。もしなかったら空白を返す-->
                <span>〜</span>
                <input name="work3_end" type="time" value="{{ work3_end|default:'' }}">
                {{ work3_status|default:"pending" }} <!--申請中、否認、承認のstatusを取得-->
            </div>
        </section>

        <section>
            <label>備考欄</label><br>
            <textarea id="note" name="note">{{ note|default:'' }}</textarea>
        </section>

        <p><button type="submit">登録</button></p>
</form>
{% endblock %}

