{% extends "base_attendance.html" %}
{% load static %}

{% block title %}マイページ{% endblock %}
{% block page_title %}マイページ{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/attendance/mypage.css' %}">
{% endblock %}

{% block header_actions %}
<div id="icon">
    <a href="{% url 'attendance:profile' %}">
        <img src="{% static 'img/profile_icon.png' %}" width="50" height="50">
    </a>
</div>
{% endblock %}

{% block content %}
    <section>
        <form method="post" action="{% url <!--確認--> %}">{% csrf_token %}
        <form method="post" action="{% url <!--確認--> %}">{% csrf_token %}
            <button type="submit">開始</button>
        </form>
        <form method="post" action="{% url <!--確認--> %}">{% csrf_token %}
            <button type="submit">終了</button>
        </form>
        <form method="post" action="{% url <!--確認--> %}">{% csrf_token %}
            <button type="submit">退勤</button>
        </form>
    </section>

    <div>
        <!--カレンダ-->
    </div>

    <p>今月の勤務実績<!--ここに関数--></p>

    <form method="post" action="{% url <!--確認--> %}">
        {% csrf_token %}
        <button id="logout" type="submit">ログアウト</button>
    </form>
{% endblock %}
