{% extends "base_admin.html" %}
{% load static %}

{% block title %}社員変更・削除{% endblock %}
{% block page_title %}社員変更・削除{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/admin/admin_edit_employee.css' %}">
{% endblock %}

{% block header_actions %}
<div id="return">
    <a href="{% url 'attendance:mypage' %}">
        <img src="{% static 'img/return_icon.png' %}" width="50" height="50">
    </a>
</div>
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="get" id="search">
        <label>社員検索</label>
        {{ search_form.employee_id }}
        {% if search_form.employee_id.errors %}
        <div>{{ search_form.employee_id.errors }}</div>
        {% endif %}
    {% if search_form.non_field_errors %}
    <div>{{ search_form.non_field_errors }}</div>
    {% endif %}
    <button type="submit">検索</button>
</form>

{% if target %}
{% if edit_form.errors %}
<div>
    <p>入力内容に誤りがあります。確認してください。</p>
    <ul>
        {% for e in edit_form.non_field_errors %}<li>{{ e }}</li>{% endfor %}
        {% for field in edit_form %}
        {% for e in field.errors %}
        <li>{{ field.label }}: {{ e }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="target" value="{{ target.pk }}">
    <input type="hidden" name="action" value="update">

    {% for field in edit_form %}
    <div class="form-row">
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}

    <p>
        <button id="update" type="submit" name="action" value="update">変更</button>
        <button id="delete" type="submit" name="action" value="delete"
            onclick="return confirm('本当に削除しますか？');">社員削除</button>
    </p>
</form>

{% endif %}
{% endblock %}