{% extends "base_admin.html" %}

{% load static %}
{% load timeformat %}

{% block title %}管理者画面{% endblock %}
{% block page_title %}管理者画面{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/admin/admin_setting.css' %}">
{% endblock %}

{% block content %}
<div class="admin-layout">
    <nav class="side-nav">
        <ul>
            <li><span>人事関係</span></li>
            <li><a class="btn-nav" href="{% url 'accounts:add_user' %}">社員新規登録</a></li>
            <li><a class="btn-nav" href="{% url 'managers:user_edit' %}">社員変更・削除</a></li>
            <li><a class="btn-nav btn-logout" href="{% url 'accounts:logout' %}">ログアウト</a></li>
        </ul>
    </nav>

    <main class="main">
        <form method="get" class="query-form">
            <label>社員検索</label>
            <label for="{{ form.employee_id.id_for_label }}">社員IDを入力してください</label>
            {{ form.employee_id }}
            <button type="submit" class="btn-query">検索</button>
        </form>

        <section class="month-table">
            <table>
                <thead>
                    <tr>
                        <th>日付</th>
                        <th>勤務時間</th>
                        <th>備考</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in days %}
                    <tr>
                        <td>
                            <a
                                href="{% url 'managers:admin_worklogs_day' target_user.employee_id d.date|date:'Y-m-d' %}">
                                {{ d.date }}
                            </a>
                        </td>
                        <td>
                            {% if d.end %}
                            {{ d.start|date:"H:i" }}-{{ d.end|date:"H:i" }}
                            {% else %}
                            {{ d.start|date:"H:i" }}-—
                            {% endif %}
                        </td>
                        <td>{{ d.status_label }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th>合計</th>
                        <th>{{ total_minutes|hhmm }}</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </main>
</div>
{% endblock %}